<!DOCTYPE html>
<html lang="en" class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom File Inputs | Codrops</title>

    <!--弹框-->
    <link rel="stylesheet" href="/naran/css/naranja.min.css">
    <script type="text/javascript" src="/naran/js/naranja.js"></script>

    <!--可无视-->
    <link rel="stylesheet" type="text/css" href="/fs/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/fs/css/demo.css"/>

    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/fs/css/component.css"/>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- remove this if you use Modernizr -->
    <script>(function (e, t, n) {
        var r = e.querySelectorAll("html")[0];
        r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
    })(document, window, 0);</script>

</head>
<body>
<div style="height: 80px"></div>
<div class="container">

    <div class="content">
        <div class="box">
            <input type="file" name="file0" id="file0" class="inputfile inputfile-1"
                   data-multiple-caption="{count} files selected"
                   accept=".zip,.rar" multiple/>
            <label for="file0">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
                </svg>
                <span>选择压缩文件(zip/rar)</span>
            </label>
        </div>

        <div style="height: 20px">
            <a th:href="@{/}" style="font-size: 30px;float: left">返回</a>
            <a href="#" style="font-size: 30px;float: right" onclick="updateZipOrRar()">上传</a>
            <br>
            <p style="font-size: 15px">注意：如有文件上传替换，建议先删除旧文件，再上传新文件，避免链接服务器超时！</p>
        </div>
    </div>

</div><!-- /container -->

<script src="/fs/js/custom-file-input.js"></script>
<script src="/fs/js/jquery.min.js"></script>
<script type="text/javascript">
    function updateZipOrRar() {
        var file = document.getElementById("file0").files[0];
        if (typeof(file) == "undefined") {
            narn("warn", "请选择需要上传的压缩文件！")
        }else {
            narn("success", "正在上传，请稍后！")
            var formData = new FormData();
            formData.append("file", file)
            $.ajax({
                type: "POST",
                url: "/fs/update",
                data: formData,
                dataType: "text", //return dataType: text or json
                processData: false,
                contentType: false,
                success: function (json) {
                    if ("success" == json) {
                        narn("success", "上传成功!")
                    } else if ("fail" == json) {
                        narn("warn", "上传失败，请检查网络！")
                    }else if("unfile" == json){
                        narn("warn", "上传的文件类型不正确！")
                    }
                },
                error: function (json) {
                    narn("warn", "上传失败，请检查网络！")
                    return
                }
            });
        }
    }

    /**
     * 弹出对话框
     * @param type
     * @param msg
     */
    function narn(type, msg) {
        naranja()[type]({
            title: '消息提示',
            text: msg,
            timeout: 'keep',
            buttons: [{
                text: '接受',
                click: function (e) {
                    naranja().success({
                        title: '通知',
                        text: '通知被接受'
                    })
                }
            }, {
                text: '取消',
                click: function (e) {
                    e.closeNotification()
                }
            }]
        })
    }
</script>
</body>
</html>
